parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$transformer of static method BaseApi\\\\Http\\\\StreamHelper\\:\\:sse\\(\\) expects \\(callable\\(mixed\\)\\: array\\)\\|null, Closure\\(array\\)\\: \\(array\\|null\\) given\\.$#"
			count: 1
			path: app/Controllers/StreamController.php
